:root{
    --a:0;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    align-items: center;
}

.heading img {
    width: 14px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
    
}


.left {
    width: 25vw;
    padding: 10px;

}
.hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
/*right box*/
.right {
    margin: 15px 0; 
    position: relative;
    width: 75vw;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
}

.header>* {
    padding: 20px;
}

.header svg {
    background-color: #000000;
    border-radius: 3px;
    color: rgb(90, 88, 88);
}

.buttons > *{
    margin: 0 10px;
}
.signup {
    border: none;
    background: none;
    color: rgb(169, 168, 168);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.signup:hover{
    font-size: .848rem;
    color: white;
}

.login {
    width: 90px;
    border: none;
    border-radius: 20px;
    background-color: rgb(238, 241, 244);
    padding: 5px 15px 8px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.login:hover{
    font-size: 14.6px;
}


.spotifyPlaylist {
    padding: 16px;
}
.spotifyPlaylist h1{
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;

    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
    
    position: relative;
    transition: all .8s;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}
.card:hover{
    background-color: #2f2f2f;
    cursor: pointer;
    --a: 1;
}
.play{

    position:absolute;
    top: 160px;
    right: 17px;
    opacity: var(--a); /*animation of play button*/
    transition: all 1s ease-out;

}



/* playbar*/
  
.playbar{
    /* display: flex;
    justify-content:space-around; */
    
    position: fixed;
    bottom: 30px;
    width: 70vw;
    /* right: 10px; */
    min-height: 40px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    padding: 12px;
}
.songbuttons{
    filter: invert(1);
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songList{
    height: 500px;
    overflow-y: auto;
    margin: 30px 0;
}
.songList ul{
    padding: 0 12px;
}

.songList ul li{
    padding: 12px 0;
    list-style-type:decimal ;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}
.songList .info{
font-size: 14px;
width: 344px;
}
.info div{
    word-break: break-all;
}
.music{
    height: 45px;
    width: 45px;
}
.playnowsvg{
    height: 25px;
    
}


.playNow{
    display:flex ;
    
    align-items: center;
}
.playNow span{
    font-size: 15px;
    width: 64px;
    
}
/* seekBar */
.seekbar{
    width: 98%;
    height: 3px;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    /* right: 20px; */
    margin: 6px;
    cursor: pointer;
    
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}
.songbuttons img{
    cursor: pointer;
}
.songinfo{
    color: black;
    padding: 0 12px;
    width: 250px;

}
.songtime{
    color: black;
    padding: 0 12px;
    width: 125px;
}
.infobar{
    display: flex;
    justify-content:space-between;
    margin: 20px 0;
}
.TimeVolume{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.volume{
    cursor: pointer;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 12px;
}
.range input{
    cursor: pointer;
}
/* .volume:hover{
    
}
.volumebar{
    position:absolute;
    bottom: 50px;
    right: 2px;

} */
.close{
    display: none;
}

@media (max-width: 1200px) {
    .left{
        
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
    }
    .left .close{
        display: block;
        position: absolute;
        right: 31px;
        top:25px
        
    }
    .right{
        margin: 0;
       width: 100vw; 
    }

    .playbar{
        width: calc(100vw - 70px);
    }
    .songinfo{
        width: auto;
    }
    .seekbar{
        width: calc(100vw - 80px);
    }
    .hamburger{
        display: block;
    }
    .card{
        width: 44vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .infobar{
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .TimeVolume{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
    /* .volumebar{
        display: none;
    } */
}
@media (max-width: 600px){
    .card{
        width: 90vw;
    }
}